<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Huong Lan</string>
		<key>mesurement</key>
		<string>90-60-90</string>
		<key>photo</key>
		<string>huonglan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Huong Nhi</string>
		<key>mesurement</key>
		<string>92-52-90</string>
		<key>photo</key>
		<string>huongnhi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Anh</string>
		<key>mesurement</key>
		<string>89 - 60 - 88</string>
		<key>photo</key>
		<string>maianh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mai Trang</string>
		<key>mesurement</key>
		<string>91 - 66 - 93</string>
		<key>photo</key>
		<string>maitrang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>My Linh</string>
		<key>mesurement</key>
		<string>99 - 70 - 93</string>
		<key>photo</key>
		<string>mylinh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Phong Lan</string>
		<key>mesurement</key>
		<string>85-70-88</string>
		<key>photo</key>
		<string>phonglan</string>
	</dict>
</array>
</plist>
